
body
{
    background-color:#f7f7f7;
}

header
{
position: absolute;
top:0;
left:0;
width: 100%;
padding:30px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index:10000;
}

#logo
{
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'poppins',sans-serif;;
    color: #0ebdf6;
    text-shadow: 1px 1px 3.5px black;
}

header ul
{ 
    display: flex;
    align-items: center;
   margin-right: 300px;
}
header ul li
{
    list-style: none;
    margin-left:30px;
    
}


header ul li a 
{
    color:#0ebdf6;
    text-decoration: none;
    float:left;
    border-radius: 20px;
    
}
header ul li a:hover
{
    background:#f2f0f0;
    color:#228dfa;
    padding:10px;
    
}

/*fim cabecalho*/
  /*funcao*/ /*nome*/
@keyframes animacao-frase
{
    from 
    {
     /*estado inicial*/
     margin-left: 400px;
    }
    to
    {
     /*estado final*/
    margin-right: 500px;
    }
}
#text
{
    position: absolute;
    color:#0ebdf6;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index:9;
    transform: translateY(210px);
    text-shadow: 1px 1px 5px black;
    animation-name:animacao-frase;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

section 
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding:100px;
    display: flex;
    overflow:hidden;
    justify-content: center;
    align-items: center;
}

section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0ebdf6,transparent);
    z-index: 1000;
}

section img
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
/*fim home*/
#missao
{
    position:relative;
    padding:100px;
    background:#0ebdf6;
   width: 100%;
}

 
 /*teste*/

  
  @keyframes fade-in {
    0% { 
      opacity: 0;
      transform: translateY(50%);
  }
  100% { 
    opacity: 1;
    transform: translateY(0);
  }
}


  @keyframes up-and-down {
    0%, 100% { transform: translateY(-15%)}
    50%   { transform: translateY(15%)}
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
   }
   .from-bottom {
    animation: fade-in 0.8s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }
#missao h3
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
   text-align: center;
   animation: up-and-down 1.5s ease-in-out infinite;
   
}

#missao h5
{  font-size: 2.0em;
    margin-bottom: 10px;
    color: #fff;
   text-align: left;
  
  
}
 