.formatacao
{ border: 1px solid white;
	background-color:black;
	padding-left: 10px;
	color: white;
	font-size: 50;
	font-family:'Comic Sans MS' ;
	font-style: italic;
    
}
.bordaimagem
{border: 1px solid white;
	background-color:black;
}
#principal
{
	background-image: url('https://lh3.googleusercontent.com/lNpjBNBhf_OC7B0yi97NpXiBwUhE8AHRKK-Ix70Re3-LkL3QKDc3yFTWxaX_1mzqjzvREfEZl29Abibl_WwxML2LW-euHmQ_-LCcyeMv4ZFuSJWMF1w7adQeP2OVvMiIRWJVK-vhLoCe-6jkCHDRyD8c4MCszGX2-KPh4pJPfYjTzSz8JyBf3hZIxdJtiKFl7OI_I1pl0ZWNv8ydFeehfY2lpKZf-maxYtNXqkyv-T5xK5eVmeVMecmeZQpSqUxZ9yyxzgGPg-4-8ix8XjNxbHJ9QMCCIthSkAN5LXXnxfST9bqB_c2wDRnVEdreEKpgcyQ5lbCSd8HsjzvmFTta5CYOqhptjB8w1JPjVoAA5NF0Zee66hrrLgyqk9emDmyGR13Y13cGt5oP73ruG9z814cOABFcSZnBFAhwL-0UTRGTs_sM7W2tjXH2HjfzP6JUv3Q2sP1rPW7X4CnMyw-fPnLS2421VQ7vESe-FnuDvYzKuCrIb-NrZ6hQDl1K-o1hu8wvevHLXWjqH-STTDxzwOgLPmYBAkP_3sLoy_xDb1Ow_V22xWpR9XB7mp7lJmyugLb3r6jbFTJTKFWSiVCwQkFiIFnxIupKGZkRGYYbEE6JOCcCPEMz9-1OPHhc7DaffFlNft1En0OjOtSzUu0bpda5YgxFTxCb4Fm7aANjPmgjPE6BCtoA34y2hrF7RgEdSYgLvlGePXm14RbRINXMnz8=w768-h513-no?authuser=9') ;
	background-color:black;
	background-attachment: fixed;
    background-size: 1250px;
	background-repeat: no-repeat;

}
ul
{ 
 padding:0px;
    margin:0px;
    list-style-type:none;
}

li
{
padding:5px 20px;


}

ul a
{  
	width:200px;
    height:40px;
    display:block;
	text-decoration:none;
	text-indent: 40px;
	line-height: 40px;
	background :url('https://lh3.googleusercontent.com/od1D6Y4T4x-280nPtJ2SrGlryx7q5yUcGkQWgWpl4AfJcrOtJkJ2QgKxozpesOGdy0B2L7iyOR2CXiLKBvLcK1yxiC6whgaE-AqLc_afUohN4ijYqe1diVIyfEv0fR4qb3MuGGb6-zup2BZmdl0VzkVJqhKvzdIRvBb0C99Ym04cfGMawkqJHb6D80kdWrQztL-FHeu6JbE22Dr4FhsKy187f2X8dwYVU6026z3brcuXn0Qrc47IGg_a688-mFZclnMnCh-YasjgdRH8wcPHCFLbFc5uajZKEWBvule8b342NAULZKpIKHB_Hhkr52Otwjn9iJZRCRhofWS58bHH3_nTKVJPAqxgtNOfb15ANK5ccnnXZnONSoyykWDult5SynpsyFhM_GPXxy_MsGj0zAcvRzCT5vu4Z1AdSt205truUYCqvWY1F4CvbyyqAQ7EdEFpIF3zo7zLnlznogbhPMgL9WdnGtSuegx009yfy9dg8Fov8Nxy10em7lKNMfUZiAKqzPG0RSxfnU5D480jW01Z3Wv01GuTHE7jZhJoZQLmun0teKWoLDQ9Fw1NF40QWqc8Y09luPXotnsfEAiCu4ZxUG6d6AxuwGi0DFV3Fs4ZTFofTWfr1mmeYY5BISpzHgdwxounR92Pm0bfiEnAX2Um-wxR4p9kJ-CVRkhqqoUGvp8cng2-ss8oaxa0C39dAsCjQVtZQW5PKm5ByXWFozg=w400-h40-no?authuser=9' ) no-repeat left bottom ;
}
a:hover{
	background-position: right bottom;
}