body{
    background-image: linear-gradient(#836FFF,#6959CD);
    background-attachment: fixed;
    font-family:Georgia, 'Times New Roman', Times, serif;
    overflow-x:hidden;

}
/*cabeçalho*/
header
{
    background:#836FFF;
    opacity: 1;
}

svg:hover path {
    fill: #7361ee;
    transition:all 0.65s;
  }
  svg {
    width: 90px;
   
  }  



header ul
{
    margin-right: 2em;
    margin-top: 1em;
}
header ul, li,a
{
float: right;
list-style: none;
margin-left: 2em;
padding:6px 15px;
color:white; 
border-radius: 20px;
}
header ul li a:hover
{
background:white;
    color:purple;
    text-decoration: none;
    transition:all 0.5s;
  
}
nav.nav-transparente
{
    padding: 15px 0px;
    background: rgba(131,111,255,0.6);
}

/*animação*/
#ball
{
  width:15px;
  height:15px;
  bottom:25px;
  margin-bottom:15px;
  border-radius: 300px;
  background:white;
  position:relative;
  animation:animacaoball 5s 3s infinite alternate;
}

@keyframes animacaoball
{
    from 
    {
     /*estado inicial*/
     width:15px;
     height:15px;
    border-radius: 300px;
    background:white;
    bottom:25px;
     left:0px;
    }
    to
    {
     /*estado final*/
     background:white;
     border-radius: 300px;
     bottom:25px;
     left:800px;
    }
}

@keyframes animacaoball2
{
    from 
    {
     /*estado inicial*/
     width:15px;
     height:15px;
    border-radius: 300px;
    background:white;
     top:40px;
     left:0px;
    }
    to
    {
     /*estado final*/
     background:white;
     border-radius: 300px;
     top:40px;
     left:-800px;
    }
}

#ball2
{
  width:15px;
  height:15px;
  top:40px;
  margin-bottom:15px;
  border-radius: 300px;
  background:white;
  position:relative;
  animation:animacaoball2 5s 3s infinite alternate;
}
/*cabeçalho*/

/*sobre mim*/
h2
{
margin-top:150px;
font-size:2em;
float:left;
color:white;
}

#moldura
{
    height:600px;
    width:600px;
    float:right;
    margin-top:150px;
    background:#483D8B;
    border-radius:300px;
    z-index: 9;
}
#foto
{
   margin-top:-50px;
   margin-right:50px;
   z-index: 10;
}

/*Fim sobre*/

/*inicio tecnologia*/

h1
{
    color:white;
    text-align: center;
}
#linguagem a
{
    float: left;

}

@keyframes up-and-down {
    0%, 100% { transform: translateY(-15%)}
    50%   { transform: translateY(15%)}
  }
  
@keyframes fade-in {
    0% { 
      opacity: 5;
      transform: translateY(50%);
  }
  100% { 
    opacity: 1;
    transform: translateY(0);
  }
  }
  
  @keyframes fade-x {
    0% { 
      opacity: 0;
      transform: translateX(50%);
  }
  100% { 
    opacity: 1;
    transform: translateY(0);
  }
  }
  .from-bottom {
    animation: fade-in 0.5s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }
  .from-x1 {
    animation: fade-x 1.5s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }
  .from-x2 {
    animation: fade-x 2.5s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }
  .from-x3 {
    animation: fade-x 3.5s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }
  .from-x4 {
    animation: fade-x 4.5s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }
  .from-x5 {
    animation: fade-x 5.5s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }
  .from-x6 {
    animation: fade-x 6.5s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }
  .from-x7 {
    animation: fade-x 7.5s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }
  #tecnologia::before
  {
    background:linear-gradient(to top,	#6e59f7, transparent);
     content: '';
     position: absolute;
     bottom: 0;
     width: 100%;
     
     height: 100px;
  }

  
 #tecnologia  img:hover
 {
   animation: up-and-down 2.0s ease-in-out infinite;
 }
/*fim tecnologia*/



/*inicio projeto*/
#projeto 
{
  background-color:#6e59f7;
}
#tprojeto
{
  margin-left: 10px;
  text-align: center;
}
#exibicaoprojeto a
{
  margin-bottom: 10px;
  margin-left:10px;
  
}
#projeto img:hover
{
  animation: up-and-down  1.50s ease-in-out infinite;
}


/*fim projeto*/

/*inicio rodape*/
footer
{
   background-color:white;
    padding:10px 0px 20px 0px;
    position:relative;
    width: 100%;
}

footer svg
{
  width:100px;
  height: 80px;
}

footer svg:hover path
{
  fill:#483D8B;
  transition:all 0.65s;
}
footer .navbar-nav a
{
    color:#483D8B;
}
footer ul
{
    list-style: none;
}

footer ul li
{
    float:left;
    margin:0 5px;
}
@keyframes up {
  0%, 100% { transform: translateY(-15%)}

}
footer ul li a img:hover
{
  animation: up  3s ease-in-out ;
}


footer ul li a img
{
  height:40px;
}


/*fim rodape*/