body{
    background-image: linear-gradient(purple, black);
    background-attachment: fixed;
    font-family:Georgia, 'Times New Roman', Times, serif;
    overflow-x:hidden;

}

header h3{
    float: left;  
    margin-left: 1em;
    margin-top: 0.5em; 
    font-size: 5em;
    color:white; 
}
header ul
{
    margin-right: 2em;
    margin-top: 1em;
}
header ul, li,a
{
float: right;
list-style: none;
margin-left: 2em;
padding:6px 15px;
color:white; 
border-radius: 20px;
}
header ul li a:hover
{
background:white;
    color:purple;
}
