body{
    background-image: linear-gradient(#836FFF,#6959CD);
    background-attachment: fixed;
    font-family:Georgia, 'Times New Roman', Times, serif;
    overflow-x:hidden;

}

header
{
    background:#836FFF;
    opacity: 1;
}

svg:hover path {
    fill: #7361ee;
    transition:all 0.65s;
  }
  svg {
    width: 90px;
   
  }  

header ul
{
    margin-right: 2em;
    margin-top: 1em;
}
header ul, li,a
{
float: right;
list-style: none;
margin-left: 2em;
padding:6px 15px;
color:white; 
border-radius: 20px;
}
header ul li a:hover
{
background:white;
    color:purple;
    text-decoration: none;
    transition:all 0.5s;
  
}
nav.nav-transparente
{
    padding: 15px 0px;
    background: rgba(131,111,255,0.6);
}

/*animação*/
@keyframes animacao-caixa
{
    from 
    {
     /*estado inicial*/
     width:15px;
     height:15px;
    border-radius: 300px;
    background:white;
     top:0px;
     left:0px;
    }
    to
    {
     /*estado final*/
     background:white;
     border-radius: 300px;
     top:0px;
     left:-800px;
    }
}
#ball
{
width:15px;
height:15px;
border-radius: 300px;
background:white;
position:relative;
animation:animacao-caixa 5s 3s infinite alternate;
}

@keyframes animacaoball2
{
    from 
    {
     /*estado inicial*/
     width:15px;
     height:15px;
    border-radius: 300px;
    background:white;
    bottom:25px;
     left:0px;
    }
    to
    {
     /*estado final*/
     background:white;
     border-radius: 300px;
     bottom:25px;
     left:800px;
    }
}
#ball2
{
width:15px;
height:15px;
bottom:25px;

border-radius: 300px;
background:white;
position:relative;
animation:animacaoball2 5s 3s infinite alternate;
}
